body {
    background-color: #555555;
}

.container {
    padding: 30px 15% 30px 15%;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

.container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    padding-bottom: 15px;
    border-bottom: 10px solid white;
}

.container h3 {
    font-size: 2rem;
}